@import "tailwindcss";

@theme {
    /* 🎨 Pastel Green */
    --color-pastelgreen-50: #f3faeb;
    --color-pastelgreen-100: #e2f4d3;
    --color-pastelgreen-200: #c6eaac;
    --color-pastelgreen-300: #82c952;
    --color-pastelgreen-400: #63ae34;
    --color-pastelgreen-500: #63ae34;
    --color-pastelgreen-600: #4a8b25;
    --color-pastelgreen-700: #3b6a21;
    --color-pastelgreen-800: #31551f;
    --color-pastelgreen-900: #2b491e;
    --color-pastelgreen-950: #14270c;

    /* 🎨 Misk */
    --color-misk-50: #eef0ff;
    --color-misk-100: #e0e3ff;
    --color-misk-200: #c8cbfd;
    --color-misk-300: #a6aaff;
    --color-misk-400: #8682f7;
    --color-misk-500: #7364f0;
    --color-misk-600: #6448e3;
    --color-misk-700: #5639c9;
    --color-misk-800: #4631a2;
    --color-misk-900: #362a73;
    --color-misk-950: #241b4b;

    /* 🎨 BlueBell */
    --color-bluebell-50: #eef0ff;
    --color-bluebell-100: #f0f0f7;
    --color-bluebell-200: #e4e4f0;
    --color-bluebell-300: #cecee4;
    --color-bluebell-400: #b4b1d4;
    --color-bluebell-500: #9690c1;
    --color-bluebell-600: #8277b0;
    --color-bluebell-700: #70659c;
    --color-bluebell-800: #5d5483;
    --color-bluebell-900: #4e466c;
    --color-bluebell-950: #322d48;

    /* Tipografia */
    --font-title: "Manrope";
    --font-body: "Inter", sans-serif, i-sans-serif, system-ui, ;

    /* Animações */
    --animate-loop-scroll: loop-scroll 50s linear infinite;

    @keyframes loop-scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

}

@layer utilities {
    .link-nav {
        @apply text-misk-900 transition ease-in-out duration-300 font-medium hover:font-semibold font-body hover:text-misk-950/75;
    }

    .title-h2 {
        @apply text-3xl md:text-4xl font-title font-semibold text-misk-950
    }

    .nav-btn {
        @apply w-11 h-11 border border-bluebell-900 hover:border-misk-400 bg-bluebell-900 rounded-md [&>svg]:text-pastelgreen-400 hover:[&>svg]:text-misk-300 hover:[&>svg]:transition hover:[&>svg]:ease-in-out hover:[&>svg]:duration-300 transition ease-out duration-300 cursor-pointer
    }

    .btn-tertiary {
        @apply py-2 px-9 text-base text-bluebell-50 bg-misk-900 hover:bg-misk-600 hover:border hover:border-pastelgreen-300 transition ease-in-out duration-300 rounded-[5px] cursor-pointer active:bg-misk-100 active:text-misk-950
    }

    .card-btn {
        @apply py-2 pl-4 pr-2 flex self-end items-center text-pastelgreen-900 text-sm font-bold gap-3 bg-pastelgreen-300 rounded-md cursor-pointer border border-pastelgreen-300 hover:bg-pastelgreen-200 hover:border hover:border-pastelgreen-600 transition ease-in-out duration-300 active:bg-pastelgreen-600 active:text-pastelgreen-50 active:border active:stroke-pastelgreen-200 active:duration-150
    }

    .cases-bullet {
        @apply max-w-fit h-auto text-sm text-misk-50 font-semibold bg-misk-900 py-1 px-6 rounded-3xl
    }

    p {
        @apply font-body text-base text-left
    }

}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-variable.ttf") format("truetype");
}


:root {
    --duration: 10s;
    --totalitems: 12;
}

.container-grid {
    max-width: 1620px;
    width: 80vw;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    display: flex;
    height: 8vw;
    width: 100vw;
    overflow: hidden;
    border: red 1px solid;
}

.img-item {
    position: absolute;
    height: inherit;
    width: 8vw;
    left: 100%;
    animation: scrollX var(--duration) linear infinite;
    animation-delay: calc(var(--duration)/var(--totalitems) * (var(--totalitems) - var(--i)) * -1);

    & img {
        height: auto;
    }
}

@keyframes scrollX {
    to {
        left: -8vw;
    }
}