@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "./components.css";
/* 
  1. Fontes e Plugins 
*/
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* 
  2. Tema Personalizado (Design System)
*/
@theme {

    /* 🎨 Pastel Green */
    --color-pastelgreen-50: #f3faeb;
    --color-pastelgreen-100: #e2f4d3;
    --color-pastelgreen-200: #c6eaac;
    --color-pastelgreen-300: #82c952;
    --color-pastelgreen-400: #63ae34;
    --color-pastelgreen-500: #63ae34;
    --color-pastelgreen-600: #4a8b25;
    --color-pastelgreen-700: #3b6a21;
    --color-pastelgreen-800: #31551f;
    --color-pastelgreen-900: #2b491e;
    --color-pastelgreen-950: #14270c;

    /* 🎨 Misk */
    --color-misk-50: #eef0ff;
    --color-misk-100: #e0e3ff;
    --color-misk-200: #c8cbfd;
    --color-misk-300: #a6aaff;
    --color-misk-400: #8682f7;
    --color-misk-500: #7364f0;
    --color-misk-600: #6448e3;
    --color-misk-700: #5639c9;
    --color-misk-800: #4631a2;
    --color-misk-900: #362a73;
    --color-misk-950: #241b4b;

    /* 🎨 BlueBell */
    --color-bluebell-50: #eef0ff;
    --color-bluebell-100: #f0f0f7;
    --color-bluebell-200: #e4e4f0;
    --color-bluebell-300: #cecee4;
    --color-bluebell-400: #b4b1d4;
    --color-bluebell-500: #9690c1;
    --color-bluebell-600: #8277b0;
    --color-bluebell-700: #70659c;
    --color-bluebell-800: #5d5483;
    --color-bluebell-900: #4e466c;
    --color-bluebell-950: #322d48;

    /* Tipografia */
    --font-title: "Manrope", sans-serif;
    --font-body: "Inter", sans-serif, i-sans-serif, system-ui, ;

    /* Animações */
    --animate-loop-scroll: loop-scroll 50s linear infinite;

    @keyframes loop-scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

}

/* 
  3. Camada Base 
  Estilos globais para tags HTML puras.
*/
@layer base {
    html {
        scroll-behavior: smooth;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-title);
    }

    body,
    p,
    a,
    span
    {
    font-family: var(--font-body);
    text-align: left;
}
}

/* 
  4. Camada de Componentes
  Use @layer components para classes que podem ser 
  sobrescritas por utilitários (ex: mt-4, text-red-500).
*/

@layer components {

    /* --- Tipografia & Links --- */
    .title-h2 {
        @apply text-3xl md:text-4xl font-title font-semibold text-misk-900;
    }

    .link-nav {
        @apply text-misk-900 font-body transition ease-in-out duration-300 font-medium hover:font-semibold hover:text-misk-950/75;
    }

    .link-hover-underline {
        @apply relative text-bluebell-900 font-medium after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-[2px] after:bg-bluebell-900 after:transition-all after:duration-300 hover:after:w-full;
    }

    .link-hover-zoom {
        @apply inline-block transition-transform duration-300 ease-in-out hover:scale-105;
    }

    /* --- Botões --- */
    .nav-btn {
        @apply w-11 h-11 border border-bluebell-900 hover:border-misk-400 bg-bluebell-900 rounded-md [&>svg]:text-pastelgreen-300 hover:[&>svg]:text-misk-300 hover:[&>svg]:transition hover:[&>svg]:ease-in-out hover:[&>svg]:duration-300 transition ease-out duration-300 cursor-pointer flex items-center justify-center;
    }

     .btn-primary {
        @apply py-2 px-9 text-base text-bluebell-50 border bg-misk-900 hover:bg-misk-800 hover:border hover:border-pastelgreen-300 transition ease-in-out duration-300 rounded-[5px] cursor-pointer active:bg-misk-100 active:text-misk-950;
    }

    .btn-secondary {
        @apply w-fit py-2 px-9 text-base border-pastelgreen-300 text-pastelgreen-950 font-semibold border bg-pastelgreen-300 hover:bg-pastelgreen-200 hover:border hover:border-pastelgreen-600 transition-all ease-in-out duration-300 rounded-[5px] cursor-pointer active:bg-pastelgreen-600 active:text-pastelgreen-50;
    }

    .btn-tertiary {
        @apply py-2 px-9 text-base text-bluebell-50 border bg-transparent border-pastelgreen-300 hover:border hover:border-pastelgreen-300 hover:bg-pastelgreen-300 transition ease-in-out duration-300 rounded-[5px] cursor-pointer active:bg-misk-100 active:text-misk-950;
    }

    .card-btn-icon {
        @apply py-2 pl-4 pr-2 flex self-end items-center text-[#1E1E1E] text-sm font-bold gap-3 bg-pastelgreen-300 rounded-md cursor-pointer border border-pastelgreen-300 hover:bg-pastelgreen-200 hover:border hover:border-pastelgreen-600 transition ease-in-out duration-300 active:bg-pastelgreen-600 active:text-pastelgreen-50 active:border active:stroke-pastelgreen-200 active:duration-150;
    }

    /* --- Elementos de UI --- */
    .cases-bullet {
        @apply max-w-fit h-auto font-semibold bg-pastelgreen-300 text-[#1E1E1E] py-1 px-6 rounded-3xl;
    }

    .form-label {
        @apply font-medium text-misk-800 font-body;
    }

    /* Cards */
    .feature-card {
        @apply shadow-md bg-misk-50 col-span-4 rounded-lg p-4 flex flex-col justify-between gap-4;
    }

    .feature-card .icon {
        @apply p-3 bg-misk-200 text-misk-900 aspect-square w-13 h-13 flex justify-center items-center rounded-md;
    }

    .feature-card .icon svg {
        @apply w-full h-full;
    }

    .feature-card .text-card h3 {
        @apply font-title font-bold text-lg pb-2 text-misk-950;
    }

    .feature-card .text-card p {
        @apply text-sm text-misk-950;
    }

    /* --- Swiper Custom Overrides --- */
    .swiper-pagination-2 .swiper-pagination-bullet {
        @apply w-3 h-3 bg-misk-600 opacity-50 transition-opacity duration-300;
    }

    .swiper-pagination-2 .swiper-pagination-bullet-active {
        @apply opacity-100 bg-misk-900;
    }

    .swiper-button-prev-2::after,
    .swiper-button-next-2::after {
        @apply hidden;
    }

    /* Página produtos */
    .produtosopcoescard h3 {
        @apply text-3xl font-bold text-misk-900
    }

    /* Efeito de revel */
    .reveal {
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.8s ease-out;
        will-change: opacity, transform;
        /* Otimização para o navegador */
    }

    .reveal.show {
        opacity: 1;
        transform: translateY(0);
    }

    /* Opcional: Delay para elementos em sequência (ex: cards) */
    .reveal.delay-200 {
        transition-delay: 200ms;
    }

    .reveal.delay-400 {
        transition-delay: 400ms;
    }

    /* Splitting */
    .slide-text .char {
        opacity: 0;
        transform: translateY(100%);
        /* Começa de baixo */
        transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1), opacity 0.5s ease;
    }

    /* 
           Estado ATIVO (Quando o Swiper coloca a classe .swiper-slide-active)
           As letras sobem para a posição original (0)
        */
    .swiper-slide-active .slide-text .char {
        opacity: 1;
        transform: translateY(0);
        /* 
               A mágica: atraso baseado no índice da letra.
               --char-index é uma variável criada automaticamente pelo Splitting.js
            */

        /* Rápido */
        /* transition-delay: calc(0.03s * var(--char-index)); */

        /* Lento */
        transition-delay: calc(0.07s * var(--char-index));
    }

    .gradient-purple .char {
        background-image: linear-gradient(to right, #c084fc, #f472b6);
    }
}

/* 
  5. Utility Layer 
  Use isso raramente, apenas para criar novas micro-classes utilitárias
  que você quer usar junto com o HTML.
*/
@layer utilities {
    /* Exemplo: .text-shadow-sm { ... } */
}

/* 
  6. Definição de Fontes Locais 
  Certifique-se de que os arquivos .ttf estão realmente nesse caminho
*/
@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-variable.ttf") format("truetype");
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
}