:root {
    /* 🎨 Pastel Green */
    --pastelgreen-50: #f3faeb;
    --pastelgreen-100: #e2f4d3;
    --pastelgreen-200: #c6eaac;
    --pastelgreen-300: #82c952;
    --pastelgreen-400: #63ae34;
    --pastelgreen-500: #63ae34;
    --pastelgreen-600: #4a8b25;
    --pastelgreen-700: #3b6a21;
    --pastelgreen-800: #31551f;
    --pastelgreen-900: #2b491e;
    --pastelgreen-950: #14270c;

    /* 🎨 Misk */
    --misk-50: #eef0ff;
    --misk-100: #e0e3ff;
    --misk-200: #c8cbfd;
    --misk-300: #a6aaff;
    --misk-400: #8682f7;
    --misk-500: #7364f0;
    --misk-600: #6448e3;
    --misk-700: #5639c9;
    --misk-800: #4631a2;
    --misk-900: #362a73;
    --misk-950: #241b4b;

    /* 🎨 BlueBell */
    --bluebell-50: #eef0ff;
    --bluebell-100: #f0f0f7;
    --bluebell-200: #e4e4f0;
    --bluebell-300: #cecee4;
    --bluebell-400: #b4b1d4;
    --bluebell-500: #9690c1;
    --bluebell-600: #8277b0;
    --bluebell-700: #70659c;
    --bluebell-800: #5d5483;
    --bluebell-900: #4e466c;
    --bluebell-950: #322d48;
}

@font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Inttalic';
    src: url(assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

body {
    font-family: 'Inter';
}

.container-grid {
    max-width: 1152px;
    width: 80vw;
    margin: 0 auto;
}

.contact {}

.titletext {
    text-align: center;
    font-family: 'Manrope';
}

.cct-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--spacing) * 6);
    flex-wrap: wrap;
}


.cct-falas {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing) * 6);/*  24px */
}

.cct-falas h2 {
    text-align: center;
    font-family: 'Manrope';
}

.cct-falas p {
    margin-top: 20px;
    text-align: center;
}

.bolha {
    position: relative;
    width: 100%;
    max-width: 40%;
    border-top: 3px solid #5A5CCF;
    border-left: 3px solid #5A5CCF;
    overflow: hidden;
    padding: 48px;

    & .cct-img {
        width: 100%;
        height: auto;
        max-width: 600px;
        border-radius: 8px;
    }

}

.cct-bolhinha {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cct-btn {
    background-color: var(--pastelgreen-300);
    border-color: #5639c9;
    border-radius: 2%;
    width: 300px;
    height: 50px;
    margin-top: 5%;
    margin-left: 25%;
    cursor: pointer;

}

.duvidas {
    margin-top: 2%;
}

.duvidas h1 {}

.duvi-content {
    display: flex;
}



/* 
  ========================================
  md (Medium) - Telas a partir de 768px
  Geralmente: Tablets (iPad) em modo retrato
  ========================================
*/
@media (max-width: 768px) {
    /* Seus estilos para 'md:' aqui */

    .bolha {
        max-width: unset;
        padding: 32px;
    }

    .cct-falas p {
    max-width: unset;
    text-align: left;
}
}


/* 
  ========================================
  lg (Large) - Telas a partir de 1024px
  Geralmente: Tablets em modo paisagem e Laptops pequenos
  ========================================
*/
@media (min-width: 1024px) {
    /* Seus estilos para 'lg:' aqui */

    .cct-content {
        flex-wrap: nowrap;
    }
}


/* 
  ========================================
  xl (Extra Large) - Telas a partir de 1280px
  Geralmente: Monitores Desktop padrão e Laptops grandes
  ========================================
*/
@media (max-width: 1280px) {
    /* Seus estilos para 'xl:' aqui */
}


/* 
  ========================================
  2xl (2x Extra Large) - Telas a partir de 1536px
  Geralmente: Monitores Widescreen grandes
  ========================================
*/
@media (max-width: 1536px) {
    /* Seus estilos para '2xl:' aqui */
}